/* Conteneur de l'image */
#map-container {
    position: relative;
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image du plan */
#map {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Icône de géolocalisation */
#user-location {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%; /* Rend l'élément parfaitement rond */
    border: 3px solid white; /* Effet de contour */
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8); /* Lueur bleue */
    display: none;
    transform: translate(-50%, -50%); /* Centre l'élément */
}


/* Style du bouton */
#location-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#location-btn:hover {
    background-color: #0056b3;
}
